<div class="container-fluid">
  <div class="step-box">
  <nav class="multi-step-form row">
    <div class="col-sm-4">
      <button class="step" [class.active]="currentStep === 1">
        <h2>Step 1</h2>
      </button>
    </div>
    <div class="col-sm-4">
      <button class="step" [class.active]="currentStep === 2">
        <h2>Step 2</h2>
      </button>
    </div>
    <div class="col-sm-4">
      <button class="step" [class.active]="currentStep === 3">
        <h2>Step 3</h2>
      </button>
    </div>
  </nav>
 </div>
</div>